---
layout: page
# The layout for Treehole page 
---

<p>这个页面是一个微博空间，我可以这里发布一些简短的内容。</p>
    
<p>在这里我可以轻松地管理这些短帖子，并且此处没有评论限制，以便其他用户（如果有的话）也可以发表帖子。</p> 

<p>请随时在这里留言。</p>

<!-- https://giscus.app/ -->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',function () {
      const origin = 'https://giscus.app';
      const lightTheme = 'light';
      const darkTheme = 'dark_dimmed';
  
      let initTheme = lightTheme;
      const html = document.documentElement;
  
      if (
        (html.hasAttribute('data-mode') &&
          html.getAttribute('data-mode') === 'dark') ||
        (!html.hasAttribute('data-mode') &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        initTheme = darkTheme;
      }
  
      let giscusAttributes = {
        src: 'https://giscus.app/client.js',
        'data-repo': '{{ site.comments.giscus.repo}}',
        'data-repo-id': '{{ site.comments.giscus.repo_id }}',
        'data-category': '{{ site.comments.giscus.category }}',
        'data-category-id': '{{ site.comments.giscus.category_id }}',
        'data-mapping': '{{ site.comments.giscus.mapping | default: 'pathname' }}',
        'data-strict' : '{{ site.comments.giscus.strict | default: '0' }}',
        'data-reactions-enabled': '{{ site.comments.giscus.reactions_enabled | default: '1' }}',
        'data-emit-metadata': '0',
        'data-theme': initTheme,
        'data-input-position': '{{ site.comments.giscus.input_position | default: 'bottom' }}',
        'data-lang': '{{ site.comments.giscus.lang | default: lang }}',
        'data-loading': 'lazy',
        crossorigin: 'anonymous',
        async: ''
      };
  
      let giscusScript = document.createElement('script');
      Object.entries(giscusAttributes).forEach(([key, value]) =>
        giscusScript.setAttribute(key, value)
      );
      let tailWrapper = document.getElementById('tail-wrapper');
      tailWrapper.insertBefore(giscusScript, tailWrapper.firstChild);
  
      addEventListener('message', (event) => {
        if (
          event.source === window &&
          event.data &&
          event.data.direction === ModeToggle.ID
        ) {
          /* global theme mode changed */
          const mode = event.data.message;
          const theme = mode === ModeToggle.DARK_MODE ? darkTheme : lightTheme;
  
          const message = {
            setConfig: {
              theme: theme
            }
          };
  
          const giscus = document.getElementsByClassName('giscus-frame')[0].contentWindow;
          giscus.postMessage({ giscus: message }, origin);
        }
      });
    })();
</script>